configuration {
    modi: "drun,run,window,combi";
    combi-modi: "drun,run,window";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: " 📦  Applications ";
    display-run: " 🏃  Run ";
    display-window: " 🪟  Window";
    display-combi: " 🖥️  All ";
    sidebar-mode: true;
}

@theme "gruvbox-dark"
